{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="py-3 text-center">
    <h2>Protein Amyloid Search</h2>
    <p class="lead">Enter a UniProt accession number to search the protein for the amyloid motif.</p>
  </div>
</div>
<form method="POST" action="/" class="needs-validation" novalidate>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <label for="uniprot">UniProt Accession Number:</label>
      <!-- "Required" tag links to JS below, validates for no input in text box: -->
      <input type="text" name="uniprot" class="form-control" id="uniprot" placeholder="P04156" required>
      <div class="invalid-feedback">Please enter a valid UniProt accession number.</div>
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Submit</button>
    </div>
  </div>
</form>
<script>
// JavaScript for disabling form submissions if there are invalid fields
// This triggers only if nothing is in the text box when the submit button is pressed
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<!-- If accession code is invalid, display error flash message -->
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="row justify-content-md-center mt-5">
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% if results %}
<!-- Display motif search results in table -->
<div class="row justify-content-md-center mt-5">
  <div class="py-3 text-center">
    <!-- Link to uniprot url for protein -->
    <h3>Matches for the protein <a href={{ prot_url }}>{{ ac_code }}</a></h3>
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Match Sequence</th>
        <th scope="col">Match Start</th>
        <th scope="col">Match End</th>
      </tr>
    </thead>
    <tbody>
    <!-- Loop over enumerated results, displaying each match as a table row -->
    {% for index, match in results %}
      <tr>
        <th scope="row">{{ index + 1 }}</th>
        <td>{{ match[0] }}</td>
        <td>{{ match[1] }}</td>
        <td>{{ match[2] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <!-- Button to download results.csv file -->
    <a href="/return-file/" target="results.csv"><button type="download" class="btn btn-primary btn-lg btn-block">Download as .csv file</button></a>
  </div>
</div>
{% endif %}
{% endblock content %}
